<%- include('./partials/header') %>

<div class="scroll-ctr">
  <p>
    blath·er
    /ˈblaT͟Hər/
    v. talk long-windedly without making very much sense.
  </p>
  <br><br>
  <p>
    synonyms: prattle, babble, chatter, prate, ramble, drivel, waffle, yap
  </p>
</div>

<div class="splash">
  <div class="left-bubble">
    <img src="https://media3.giphy.com/media/PsyjvSsIUl54A6yVbf/giphy.gif">
  </div>
  <div class="right-bubble">
    <img src="https://i.gifer.com/origin/3a/3a82e9187592869ee4a9658e1046c4b4.gif">
  </div>
</div>

<%- include('./partials/footer') %>