* {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A8CCC9;
  display: grid;
  grid-template-rows: 10vmin 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

a {
  color: #366D62;
  text-decoration: none;
}

header {
  padding: 0px;
  grid-area: nav;
  background-color: #538D89;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-icon > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  padding: 2vmin;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1vmin;
}

nav > a {
  color: black;
  padding: 5px;
  font-size: 1.4em;
}

.form-ctr {
  display: flex;
  justify-content: center;
}

.new-form {
  display: flex;
  flex-direction: column;
  margin-top: 5vmin;
  background-color: #366D62;
  padding: 20px;
  width: 60vw;
  height: 56vh;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid #538D89;
}

form {
  margin-top: 20px;
  width: 80%;
}

.heading-input > textarea {
  padding: 2px;
  width: 100%;
}

.subHeading-input {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px 2px 0px;
  width: 100%
}

.subHeading-input > textarea {
  padding: 2px;
  width: 48%;
}

.markup {
  padding: 2px 2px 0px 2px;
  border: .5px solid white;
}

.content {
  height: 100%
}

.content > textarea {
  padding: 0px 2px 2px 2px;
  width: 100%;
  height: 100%;
}

.post-Btn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#post-Btn {
  background-color: #538D89;
  width: 4rem;
  height: 1.5rem;
  border-radius: 30%;
}