<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <a class="home-icon" href="/">
        <img src="https://i.imgur.com/axTaELO.png">
      </a>
      <nav>
        <% if (user) { %>
        <a href="/">Home</a>
        <a href="/posts">Profile</a>
        <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google" class="login">Log In</a>
        <% } %>
      </nav>
        </div>
    </header>

<div class="sidebar">
  <div class="pfp">
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
  </div>
  <div class="profile-buttons">
      <form action="/posts/new" method="GET">
        <button class="new-Btn" type="submit">Create a New Thread</button>
      </form>
  </div>
</div>

<div class="post-ctr">
  <% posts.forEach(function(p) { %>
    <table>
      <tr>
        <th><% p.heading %></th>
      </tr>
      <tr>
        <td><% p.subHeading %></td>
      </tr>
    </table>
  <% }) %>
</div>

<%- include('../partials/footer') %>
