<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<%- include('../partials/header') %>

<div class="form-ctr">
    <div class="new-form">
        <div class="title">
            <h1><%= title %></h1>
        </div>
        <form action="/posts" method="POST">
            <div class="heading-input"> 
                <textarea name="heading" placeholder="Title (optional)" spellcheck="true" autocorrect="off" ></textarea>
            </div>
            <div class="subHeading-input">
                <textarea name="subHeading1" placeholder="One Piece" spellcheck="true" autocorrect="off" ></textarea>
                <textarea name="subHeading2" placeholder="Chapter 500" spellcheck="true" autocorrect="off" ></textarea>
            </div>
            <div class="markup">
                text markup goes here- why is this and ^ width different
            </div>
            <div class="content-input">
                <textarea name="content" placeholder="Blather away" spellcheck="true" autocorrect="off" ></textarea>
            </div>
            <div class="post-Btn">
                <button id="post-Btn" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>