<%- include('../partials/header') %>

<div class="container">
    <div class="back-btn">
		<button id="back" onclick="window.location='/posts/'"><img src="https://i.imgur.com/AzZybLO.png"></button>
	</div>
    <div class="new-form">
        <div class="title">
            <h1><%= title %></h1>
        </div>
        <form action="/posts" method="POST" onsubmit="return getContent()">
          <div class="heading-input"> 
              <textarea name="heading" placeholder="Title (optional)" spellcheck="true" autocorrect="off" wrap="soft"></textarea>
          </div>
          <div class="subHeading-input">
              <textarea name="subHeading1" placeholder="One Piece" spellcheck="true" wrap="soft" autocorrect="off" ></textarea>
              &nbsp;
              &nbsp;
              &nbsp;
              <textarea name="subHeading2" placeholder="Chapter 500" spellcheck="true" autocorrect="off" wrap="soft"></textarea>
          </div>
          <!-- <div class="markup">
            <div class="options">

              <button id="bold" class="option-button format" data-command="bold">
                <img src="https://i.imgur.com/cyoENgC.png">
              </button>
              <button id="italic" class="option-button format" data-command="italic">
                <img src="https://i.imgur.com/QUZrPb5.png">
              </button>
              <button id="underline" class="option-button format" data-command="underline">
                <img src="https://i.imgur.com/vrwuDT5.png">
              </button>
              <button id="strikethrough" class="option-button format" data-command="strikeThrough">
                <img src="https://i.imgur.com/l7zegJU.png">
              </button>

              <button id="insertOrderedList" class="option-button" data-command="insertUnorderedList">
                <img src="https://i.imgur.com/0hCLZJV.png">
              </button>
              <button id="insertUnorderedList" class="option-button" data-command="insertOrderedList">
                <img src="https://i.imgur.com/JDArV4h.png">
              </button>
      
              <button id="createLink" class="option-button link-button" data-command="createLink">
                <img src="https://i.imgur.com/1h2hp32.png">
              </button>
              <button id="unlink" class="option-button">
                <img src="https://i.imgur.com/C2ZWeeL.png">
              </button>
            </div>
          </div> -->
          <div class="content-div">
            <textarea name="content" id="text-input" placeholder="Blather away!" spellcheck="true" autocorrect="off" wrap="soft"></textarea>
          </div>
          <div class="post-Btn">
              <button id="post-Btn" type="submit">Post</button>
          </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>